body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 1;
   background: #fff;
   color:#222328;

}
h1,h2,h3,h4,h5,h6,p,ul,ol {
   margin: 0;
   padding: 0;

}
ul {
   list-style: none;
}
a:link {
   color:#222328;
}
a:visited {
   color:#222328;
}
a:hover {
   color:#222328;
}
clearfix:after {
   display: block;
   content: "";
   clear: both;
}
/* --------header start */

img  {
   min-width: 100%;
}
.logo {
   float: left;
   width: 200px;
   height: 100px;
}

header .mainmenu {
  float: right;

}
header .mainmenu>li {
   float:left;
}
header .mainmenu>li>a {
   display: block;
   padding: 5px 10px;
}