:root {
   --mainColor:#f8b62d;
   --subColor:#8fd3f5;
   --textColor:#222328;
}
body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 1;
   background: #fff;
   color:#222328;

}
h1,h2,h3,h4,h5,h6,p,ul,ol {
   margin: 0;
   padding: 0;

}
#container {
   width: 1200px;
   margin: 0 auto;
   border: 1px solid #000;
}
ul {
   list-style: none;
}
a:link {
   color:#222328;
}
a:visited {
   color:#222328;
}
a:hover {
   color:#222328;
}
a {
   text-decoration: none;
}
.clearfix:after {
   display: block;
   content: "";
   clear: both;
}

/* --------header start */

img  {
   min-width: 100%;
}
.logo {
   float: left;
   width: 200px;
   height: 100px;
}

header .mainmenu {
  float: right;
  border-bottom: 1px solid #000;

}
header .mainmenu>li {
   float:left;
   width: 200px;
   text-align: center;
   position: relative;
   transition:all 0.4s;

  
   
}

header .mainmenu>li>a {
   display: block;
   padding:10px;
}
header .mainmenu>li>a:hover {
   background:var(--mainColor);
   color:#fff;
}

header .submenu {
   display: black;
   position: absolute;
   z-index: 1;
   width: 100%;
   background:var(--mainColor);
   color:white;
   border-top: 1px solid #000;
   border-bottom:1px solid #000;
}
header .submenu:nth-child(2){
   border-left: 1px solid black;
}


header .submenu li>a {
   display: block;
   padding: 10px;
   transition: all 0.4s;
   
}
header .submenu li>a:hover {
   background: var(--subColor);
   color:white;
}
#slide {
   border: 1px solid #000;
   width: 1200px;
   height: 300px;
   position: relative;
   overflow: hidden;
}
#slide img {
   position: absolute;
}

/* ---tab_menu */
#contents {
   width: 1200px;
   height: 300px;
}
.contents_box>li {
   float: left;
   border: 1px solid #000;
   width: 400px;
   height: 300px;
  box-sizing: border-box;
  
}
.tab_menu {
   position:relative;
   width: 400px;
   height: 300px;
  
  
}.tab_menu li>a {
   width: 100px;
   height: 40px;
   line-height: 40px;
   display: block;
   text-align: center;
   position: absolute;
   color:#000;
   

}

.tab_menu>li+li>a {
   left:100px;
   top:0;
}
li.on>a {
   display:block;
   background: var(--mainColor);
}
li.on>.cont{
   width: 100%;
   height:260px;
   margin-top: 40px;
   background: var(--mainColor);

}
.cont{
   position: absolute;
   overflow:hidden; 
   height:0;
}